<!DOCTYPE html>

<html lang="fr" ng-app="ServiceApp">
<head>
    <meta charset="UTF-8">
    <title>ServiceApp</title>

    <script src="../../../angular-1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="app/serviceApp.js"></script>
    <script type="text/javascript" src="app/serviceController.js"></script>
    <base href="http://angular.kobject.net/">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="container" ng-controller="ServiceController as serviceCtrl" >
        
        <div class="toggle">
            <form id="services">

                <h1>Services</h1>
                <div class="alert alert-info">
                    <span>Choisissez les éléments à inclure</span>
                    <p>
                        <!-- NB SELECTION -->
                        <ng-pluralize count="serviceCtrl.cpt" when="{0:'Aucun service sélectionné',
                                                                     1:'1 service sélectionné',
                                                                    'other':'{{serviceCtrl.cpt}} services sélectionnés'}">
                        </ng-pluralize>
                    </p>
                </div>

                <!-- LISTE SERVICES -->
                <ul>
                    <li ng-repeat="service in serviceCtrl.services" ng-class="{active: service.active}" ng-click="serviceCtrl.toggleActive($index)">
                        {{service.name}}
                        <span class="ng-binding">{{service.price | currency : "€"}}</span>
                    </li>
                </ul>

                <!-- TOTAL -->
                <div class="total">
                    <!-- Format en currency. -->
                    Total: 
                    <span>{{serviceCtrl.totals | currency : "€"}}</span>
                </div>                
            </form>
        </div>
    </div>
</body>
</html>