                            <!--boutons-->
                            <div class="inline-block">
                                <div title="Ajouter" class="btn btn-primary list-btn" ng-click="addToIncluded()" ng-disabled="selectedDispoItems.length<1" disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></div>
                                <div title="Ajouter tous" class="btn btn-primary list-btn" ng-click="addAllToIncluded()" ng-disabled="dispoItems.length<1"><span aria-hidden="true" class="glyphicon glyphicon-fast-forward"></span></div>
                                <div title="Retirer" class="btn btn-primary list-btn" ng-click="removeFromIncluded()" ng-disabled="selectedIncludedItems.length<1" disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span></div> 
                                <div title="Retirer tous" class="btn btn-primary list-btn" ng-click="removeAllFromIncluded()" ng-disabled="includedItems.length<1" disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-fast-backward"></span></div>
                            </div>


                            <div class="inline-block">
                                <label>Produits à inclure : 
                                    <select title="Double-cliquez pour ajouter" class="form-control" ng-model="selectedIncludedItems" size="10" multiple="multiple" ng-model="ctrl.selectedIncludedItems">>
                                        <option ng-repeat="item in ctrl.incluedItems" value="{{$index}}">{{item.title}}</option>
                                    </select>
                                </label> 
                            </div>  
                        </div>

                        <div>
                            <div class="btn btn-primary" style="width:98%;text-align: right" ng-click="ctrl.step=2" ng-disabled="includedItems.length<1" disabled="disabled">
                                <span>Etape suivante    </span>
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ctrl.step==2" class="ng-hide">
                        <h1>Votre choix</h1>
                        <ul>
                            <!-- ngRepeat: item in includedItems -->
                        </ul>
                        <div>
                            <div class="btn btn-primary" style="width:98%;text-align: right;margin-top:5px" ng-click="ctrl.step=1">
                                <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-left"></span>
                                <span>     Retour au choix précédent</span>
                            </div>
                        </div>
                    </div>