<!DOCTYPE html>

<html lang="en" ng-app="NoteApp">
<head>
    <meta charset="UTF-8">
    <title>AppNote</title>
    <script src="../../angular-1.6.1/angular.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="app/noteController.js"></script>
</head>
<body>

	<div class="container" ng-controller="noteController as ctrl">

		<div class="panel panel-primary">

		    <div class="panel-heading">Ex 1 : Note Application</div>
			    <div class="panel-body">
			    	<div class="form-group">
						<label for="ctrl.messageNote">Note :</label>
						<textarea class="form-control" rows="5" id="messageNote" ng-model="ctrl.messageNote" ng-change="ctrl.count()" maxlength="100"></textarea></br>
						
						<button type="button" class="btn btn-primary" ng-click="ctrl.save()">Enregistrer</button>
						<button type="button" class="btn btn-primary" ng-click="ctrl.delete()">Effacer</button></br></br>

						<div ng-class="{'alert-warning': ctrl.warning,'alert-danger': ctrl.danger}" class="alert alert-info alert-dismissible" >Nombre de caractères restant : {{ctrl.caracRestant}}</div>

						<div class="alert alert-success" ng-show="ctrl.info" style="margin-top:18px">{{ctrl.info}}</div>
				</div>
		    </div>
	    </div>
	</div>

</body>
</html>