	</!DOCTYPE html>

	<html lang="en" ng-app="gestionContacts">
		<head>
			<title>Gestion Contacts</title>
			<meta charset="UTF-8">

			<link rel="stylesheet" href="http://angular.kobject.net/css/css.css">

			<script src="../../../angular-1.6.1/angular.min.js"></script>
	    	<link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css" type="text/css"/>

			<script type="text/javascript" src="app/gestionApp.js"></script>
	    	<script type="text/javascript" src="app/gestionController.js"></script>
		</head>

		<body ng-app="TD2" ng-controller="gestionController as ctrl">
		
			<div ng-view="" class="toggle ng-scope">
				<div id="contact" class="container ng-scope">
					<div class="panel panel-primary">
						<div class="panel-heading">Contacts</div>
							<div class="panel-body">
								<input type="text" placeholder="Filtrer..." data-ng-model="q" class="form-control ng-pristine ng-untouched ng-valid">
								<!-- AFFICHAGE DES CONTACTS -->
								<table class="table table-striped" id="lstContact">
									<tbody><!-- ngRepeat: contact in contacts |NotDeletedFilter |filter:q as results -->

										<tr ng-repeat="contact in ctrl.contacts" ng-if="contact.deleted === false">
											<td>{{contact.nom}} </td>
											<td>{{contact.prenom}} </td>
											<td>{{contact.mail}} </td>
											<td>
												<a>
													<span class="glyphicon glyphicon-edit" data-ng-click="ctrl.toUpdate(contact)"></span>
												</a>
												<a>
													<span class="glyphicon glyphicon-remove-circle" data-ng-click="ctrl.delete(contact)"></span>
												</a>
											</td>
										</tr>

										<tr>
											<td colspan="4">
												<a id="add" href="" data-ng-click="ctrl.toAdd()" class="btn btn-primary">Ajouter...</a>
											</td>
										</tr>
																						
									</tbody>
								</table>
							</div>

							<!-- FORMULAIRE D'AJOUT -->
							<frm-contact-elem>	
								
							</frm-contact-elem>
					</div>
				</div>
			</div>

			

		</body>
	</html>